* {
    margin: 0;
    padding:0;
}

body{
  background: rgb(255, 252, 246);
}

.entete{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px; 
  padding : 5px; 
}

.entete a{
  text-decoration:none;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: .5s all;
  color: #bdb589;
}

.entete a:hover{
  background: white;
  transition: 0.3s all;

}  
.logo{
  /* border-radius: 60px; */
  width: 150px;
  height: 150px;
  /* margin-top: 50px; */
}


/* body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    height: 100vh;
    font-family: arial, sans-serif;
   
} */
  
.container { 
  height: 80vh;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
  }
    
.container a {
    text-decoration: none;
    font-size: 12px;
    transition: all .3s;
    
}

input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-bottom: 2em;
  }

input:hover,
input[type="email"]:focus,
input[type="password"]:focus{
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}
    
input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
}


.footer-bloc{
  display: flex;
  justify-content: space-between;
  background: #bdb589;
  padding: 20px;
  align-items: center;
}

.a-propos li{
  list-style-type: none;
}

footer a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
    font-size: 20px;
}
