* {
    margin: 0;
    padding:0;
    /* box-sizing: border-box;  */
}

.entete{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px; 
    padding : 5px; 
}

.entete a{
    text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: .5s all;
    color: #bdb589;
}

.entete a:hover{
    background: white;
    transition: 0.3s all;

}   

.logo{
    /* border-radius: 60px; */
    width: 150px;
    height: 150px;
    /* margin-top: 50px; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.central{
    height:40em;
}

.oneLine{
    margin-left: 66px;
    color: #bdb589;
    font-weight: bold;
    padding: 20px;
}

.oneLine a{
    color: #bdb589;
    text-decoration: none;
}

.container{
    display: flex;
    border-top: 50px solid #bdb589;
    height: 100%;
}

.sidebar{
    padding: 50px;
    background: #bdb589;
    width: 25%;
    height: 80%;
    margin-top: -2px;
    color: white;
}

.sidebar a{
    color: white;
    text-decoration: none;
}

.bloc_espace {
    display: flex;
    justify-content: space-between;
    padding: 85px;
} 

.info {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45%;
    /* height: 25vh; */
    background: white;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 40px;
    /* text-align: center; */
    border-bottom: 10px solid #bdb589;
    line-height: 7vh;
    font-size: 1.5em;
    font-weight: bold;
    color: #bdb589;
    box-shadow: 2px 5px 10px 5px rgb(185 185 185);
}

.info p{
color: black;
margin-bottom: 10px;
width: 61%;
box-shadow: 0px 0px 3px 0px rgb(185 185 185);
}

.info a{
    text-decoration: none;
}